<div class="fundo">
    <form class="form" action="/bem-vindo" method="post">
        <h1>Login: </h1>
        Página de login.
        <br><br>

        <label for="exampleInputEmail1" class="form-label">E-mail</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <br>

        <label for="inputPassword5" class="form-label">Senha</label>
        <input type="password" name="senha" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
        <br>

        <button type="submit" class="btn btn-primary btn-md rounded-pill">Enviar</button></form>
        <br><br>
    </form>
</div>