<form action="/certo" method="post">
    <label>Nome: </label>
    <input type="text" name="nome" id="nome">
    
    <br>

    <label>Idade: </label>
    <input type="number" name="idade" id="idade">
    
    <br>

    <label>E-mail:</label>
    <input type="email" name="email" id="email">

    <br>

    <label>Senha</label>
    <input type="password" name="senha" id="senha">
    <button type="submit">Enviar</button>
</form>